<!DOCTYPE html>
<html>
<head>
    <title>ThinkPad Prices in {{ country|upper }}</title>
    <meta name="description"
          content="Compare current ThinkPad prices in {{ country|upper }}. Updated daily.">
</head>
<body>

<h1>ThinkPad Prices ({{ country|upper }})</h1>

<h1>
ThinkPad {{ model_slug|replace('-', ' ')|upper }}
({{ country|upper }})
</h1>


<!-- Country Switcher -->
<select onchange="location = this.value;">
    <option value="/us/{{ model_slug }}/">United States</option>
    <option value="/uk/{{ model_slug }}/">United Kingdom</option>
    <option value="/de/{{ model_slug }}/">Germany</option>
</select>

<table border="1">
    <tr>
            <th>Model</th>
            <th>Price</th>
            <th>Currency</th>
            <th>CPU</th>
            <th>RAM</th>
            <th>Storage</th>
            <th>Title</th>
            <th>Condition</th>
            <th>Listing Type</th>
            <th>Last Updated</th>
        </tr>


    {% for item in listings %}
   <tr>
        <td><a href="/{{ country }}/{{ item.product.slug }}/">
                {{ item.product.model_name }}
            </a></td>
        <td>${{item.price}}</td>
        <td>{{item.currency}}</td>
        <td>{{item.product.cpu}} {{item.product.cpu_freq}}</td>
        <td>{{item.product.ram}}</td>
        <td>{{item.product.storage}} {{item.product.storage_type}}</td>
        <td><a href = "{{item.url}}" target =" _blank">{{item.title}}</a></td>
        <td>{{item.condition}}</td>
        <td>{{item.listing_type}}</td>
        <td>{{item.last_updated}}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>