<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}ThinkPad Prices in {{ country|upper }}{% endblock %}</title>
    <meta name="description" content="{% block description %}Used ThinkPad price tracker{% endblock %}">
    <link rel="canonical" href="{{ request.url_root.rstrip('/') }}{{ request.path }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <h1>ThinkPad Prices ({{ country|upper }})</h1>

            <!-- Country Switcher -->
        <select onchange="location = this.value;">
            <option value="/">Choose Country</option>
            <option value="/us/{{ model_slug }}/">United States</option>
            <option value="/gb/{{ model_slug }}/">United Kingdom</option>
            <option value="/de/{{ model_slug }}/">Germany</option>
            <option value="/au/{{ model_slug }}/">Australia</option>
        </select>

        <a href="/{{ country }}/thinkpad-models">Models</a>


    {% include "_navbar.html" %}
    
    {% block body %}{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>