{% extends "layout.html" %}
{% import "macros.html" as macros %}
{% import "macro_helpers.html" as helpers %}

{% block content %}


{% if filters %}
    {{ helpers.mobile_filter_chips(filters) }}
    {{ helpers.search_specs(filters) }}
    {{ helpers.active_filters(filters) }}
{% endif %}


{{ macros.cards(listings, country) }}

{{ macros.listings_table(listings, country, currency=currency, show_last_updated=False) }}

{% set current_args = request.args.to_dict() %}
{{ helpers.render_pagination(pagination, current_args) }}

{{ helpers.price_disclaimer() }}
{% endblock %}