{% extends "layout.html" %}

{% block body %}
<div class="container mt-4">

<table class="table table-dark table-striped table-hover table-sm align-middle">

    <thead class="table-dark">
        <tr>
            <th>Model</th>
            <th><a href="?sort=price">Price</a></th>
            <th>Currency</th>
            <th><a href="?sort=cpu">CPU</a></th>
            <th><a href="?sort=ram">RAM</a></th>
            <th>Storage</th>
            <th>Condition</th>
            <th>Title</th>
            


        </tr>
    </thead>

<tbody>

{% for item in listings %}

    <tr>
        <td><a href="/{{ country }}/{{ item.model.slug }}/">
                {{ item.model.name or "—"}}
            </a></td>
        <td>${{item.price or "—"}}</td>
        <td>{{item.currency or "—"}}</td>
        <td>{{item.specs.cpu or "—"}} {{ item.specs.cpu_freq or "—"}}</td>
        <td>{{item.specs.ram or "—"}}</td>
        <td>{{ item.specs.storage or "—"}} {{ item.specs.storage_type or "—"}}</td>
        <td>{{item.condition or "—"}}</td>
        <td><a href="{{ item.item_url }}" target="_blank">{{ item.title }}</a></td>
    </tr>

{% endfor %}

</tbody>

</table>

</div>
{%  endblock %}